<ion-view hide-back-button="true" title="Bets">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-ios7-plus-empty" href="#/app/browse"></a>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="bet in bets" href="#/app/bets/{{bets.id}}">

          <h2>
            <i class="icon ion-chatbubble-working"></i>
            {{bet.title}}
            <span class="item-note">
              {{bet.date}}
            </span>
          </h2>
          <p>{{bet.content}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
