
<ion-view title="Sign-Up">
    <ion-nav-bar class="bar-positive nav-title-slide-ios7">
    </ion-nav-bar>
    <ion-content class="has-header">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" ng-model="user.mail">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.password">
            </label>
        </div>
        <div class="padding">
            <button class="button button-full button-positive" ng-click="registerUser()||signIn()">
                Add User
            </button>
            <p class="text-center">
                <a href="#/login">Already a user?</a>
            </p>
        </div>
    </ion-content>
</ion-view>
